* {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Verdana, sans-serif;
}
*::selection {
  color: black;
  background-color: aqua;
}

body {
  background-color: rgb(217, 208, 253);
  max-width: 1400px;
  margin: auto;
}

header {
  text-align: center;
  height: 80px;
  padding: 40px;
  color: rgb(70, 70, 70);
}

header h1 {
  font-size: 40px;
}

.card {
  width: 300px;
  height: auto;
  border: 2px solid rgb(126, 18, 226);
  border-radius: 5px;
  text-align: center;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  color: rgb(70, 70, 70);
  box-shadow: 5px 5px 5px 5px rgb(165, 106, 219);
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.card:hover {
  opacity: 1;
}
.card img {
  margin: 10px;
  min-height: 300px;
  border-radius: 30px;
}
h2,
h3,
h4,
h5,
h6 {
  text-decoration: underline;
  font-size: 30px;
}
span {
  font-size: 1.5em;
  color: #9e60e0;
}
#penelope-list {
  list-style-type: none;
}
li:hover {
  color: #1182eb;
  cursor: pointer;
}
